<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.stru">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".demos.fragmentrelated.FragmentsCoumicationActivity"
            android:label="@string/title_activity_fragments_coumication"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.IMService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".animations.AnimationActivity" />
        <activity
            android:name=".animations.AnimListActivity"
            android:label="@string/title_activity_anim_list" />
        <activity android:name=".animations.TargetAnimationActivity" />
    </application>

</manifest>